# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Build directories
build
cmake-build-*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CLion
.idea
cmake-build-debug
cmake-build-release

# Test Outputs
gahm_test.dat
